.list-group-item {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.column {
    float: left;
    padding: 0px;
    height: 100%;
    margin-top: -1px;
}

/* .aboutRight {
    width: 75%;
    padding: 50px 0px 0px 100px;
} */


.left {
    width: 60%;
    max-height: 590px;
    padding: 50px 0px 0px 230px;
  }
  
.right {
    width: 40%;
    padding: 97px 0px 0px 20px;
    /* max-height: 607px; */
}