    <div class="row">
        <div class="container column left">
            <h2 class="page-header" style="color: rgb(223, 56, 35)">What I have used in this project:</h2>
            <ul class="list-group">
              <li class="list-group-item">Front-End</li>
              <li class="list-group-item">Angular 5.2.8, Angular CLI: 1.7.3</li>
              <li class="list-group-item">RouterModule, Routes from @angular/router</li>
              <li class="list-group-item">HttpClientModule from @angular/router</li>
              <li class="list-group-item">FormsModule from @angular/forms</li>
              <li class="list-group-item">AmazingTimePickerModule from amazing-time-picker</li>
              <li class="list-group-item">ToastModule from ng2-toastr/ng2-toastr</li>
              <li class="list-group-item">BrowserAnimationsModule from @angular/platform-browser/animations</li>
              <li class="list-group-item">ValidateService, AuthService, AuthGuardService, FilterPipe</li>
            </ul>
          </div>
          <div class="container column right">
              <ul class="list-group">
                  <li class="list-group-item">Back-End</li>
                  <li class="list-group-item">Node 9.4.0, Express, Router, Http</li>
                  <li class="list-group-item">Body-parser, Bcryptjs, Mongoose, MongoDB</li>
                  <li class="list-group-item">Passport, Passport-jwt, Jsonwebtoken, Cors</li>
              </ul>          
          </div>
        
        </div>
        