<div *ngIf="user" class="card">
    <h2 class="page-header">{{user.name}}'s Daily Goals</h2>
</div>

<div class="card">
<!-- <form (ngSubmit)="addOrUpdate()"> -->
<form>
  <div class="card-body">
    <h4 class="card-title">Add A Goal</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Goal</th>
          <th>Time</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <div class="form-group">
                <input type="text" name="name" [(ngModel)] = "name" class="form-control">
            </div>
          </td>
          <td>
            <div class="form-group">
                <input type="text" name="time" [(ngModel)] = "time" class="form-control">
            </div>
          </td>
          <td>
              <!-- <input type="submit" value="Submit" class="btn btn-success"> -->
              <button class="btn btn-success" (click)="addOrUpdate()">Submit</button>
              <button class="btn btn-secondary" (click)="clear()">Clear</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
</div>



<div class="card">
  <div class="card-body">
    <h4 class="card-title">Goals and Time</h4>
    <table class="table table-hover">
      
      <thead>
        <tr>
          <!-- <th>ID</th> -->
          <th>Number</th>
          <th>Goals</th>
          <th>Time</th>
          <th>Options</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor = "let task of hack(tasks); let i = index">
          <td>{{i+1}}</td>
          <td>{{task.name}}</td>
          <td>{{task.time}}</td>
          <td>
            <button class="btn btn-secondary" (click)="deleteTask(task)">Finished</button>
            <button class="btn btn-success" (click)="edit(task)" >Edit</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
