<div class="card">
    <div class="card-body">
      <h4 class="card-title">Tasks and Time</h4>
      <table class="table table-hover">
        
        <thead>
          <tr>
            <th>Number</th>
            <th>Task</th>
            <th>Time</th>
            <th>Options</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor = "let task of tasks; let i = index">
            <td>{{i+1}}</td>
            <td>{{task.name}}</td>
            <td>{{task.time}}</td>
            <td>
              <button class="btn btn-secondary" (click)="deleteTask(task)">Finished</button>
              <button class="btn btn-success" (click)="edit(task)" >Edit</button>
            </td>
          </tr>
        </tbody>
  
      </table>
    </div>
  </div>

  <div *ngIf="user" class="container">
      <h2 class="page-header">Welcome back, {{user.name}}.</h2>
      <ul class="list-group">
          <li class="list-group-item">ID: {{user._id}}</li>
        <li class="list-group-item">Username: {{user.username}}</li>
        <li class="list-group-item">Email: {{user.email}}</li> 
      </ul>
    </div>